h1 {
    text-align: center;
}

.line {
    margin-top: -29px;
}

.sh-btn {
    text-transform: uppercase;
    font-weight: bold!important;
}

.sh-btn-add {
    text-align: center;
    margin-bottom: 20px;
}

.sh-input {
    align-self: center!important;
}

.inputs {
    align-self: center!important;
}

.sh-iw {
    width: 440px;
}

.sh-container {
    margin-top: 100px;
}

.left {
    margin-left: 39px;
}

.left-up {
    margin-left: 34px;
}

.sh-show {
    margin-top: 130px;
}

.sh-bold {
    font-weight: bold;
}

.right1 {
    margin-right: 15px;
}
.right2 {
    margin-right: 120px;
}
.right3 {
    margin-right: 105px;
}
.right4 {
    margin-right: 79px;
}

.reg {
    margin-top: 5px;
}

.reg-btn {
    margin-top: 10px;
}

.sh-center {
    text-align: center;
}

a:active {
    outline:none!important;
}

a:focus {
    outline: none!important;
}

a:hover {
    outline: none!important;
}

input {
    outline:none!important;
}

textarea {
    outline:none!important;
}

input:active {
    outline:none!important;
}

textarea:active {
    outline:none!important;
}

button:hover {
    outline:none!important;
}

button:focus {
    outline:none!important;
}

button:hover {
    outline:none!important;
}


@media (max-width: 575px) {
    .line {
        display: none;
    }
}